@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

div {
  margin: auto;
  
}

body { 
  background: linear-gradient(90deg, rgb(2,0,36) 0%, #360979 35%, rgb(3, 203, 156) 100%);
  color: white
}
@keyframes blur-animation {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(8px); /* Измените значение размытия по вашему усмотрению */
  }
}

.animate-blur {
  animation: blur-animation 0.5s forwards;
}

